<div class="container p-d-flex">
  <ng-container *ngIf="users$ | async as u">
    <div class="card p-mr-2 p-shadow-3" *ngFor="let user of users$ | async">
      <img
        class="profile-img"
        src="{{ user.avatar }}"
        alt="Image {{ user.id }}"
      />
      <div class="card-body">
        <div class="userName"><h3>{{ user.first_name }} {{ user.last_name }}</h3></div>
        <p-button
          class="editButton"
          icon="pi pi-user-edit"
          (onClick)="editUser(user)"
        ></p-button>
      </div>
    </div>
  </ng-container>
</div>
<div class="speeddial-mask">
  <p-speedDial [model]="items" direction="up"></p-speedDial>
</div>
